<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/teams">Football manager</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/teams">Teams</a>
      <a class="nav-item nav-link active" href="/players">Players</a>
      <a class="nav-item nav-link active" href="/team/new">New team</a>
      <a class="nav-item nav-link active" href="/player/new">New player</a>
    </div>
  </div>
</nav>
<div class="text-center container">
  <router-outlet></router-outlet> 
</div>
