<h4 class="mt-5 mb-5">All teams</h4>
<div *ngIf="!teams.length">
    <h5 class="text-center">There aren't any teams!</h5>
</div>
<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let team of teams">
        <div class="card h-100">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
                <img src="{{team.imageUrl}}" class="w-100" />
                <div class="card-body">
                    <a routerLink="/teams/{{team.id}}">
                        <h5 class="card-title mb-3">{{team.name}}</h5>
                    </a>
                    <a class="text-reset">
                        <p>{{team.country}}, {{team.city}}</p>
                    </a>
                    <h6 class="mb-3">{{team.coachName}}</h6>
                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteTeamModal"
                        (click)="setTeamForDeleteId(team.id)">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteTeamModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this team ?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button class="btn btn-danger" (click)="deleteTeam(teamForDeleteId)"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>